.container.proto-new
  = form_for @prototype do |f|
    = render partial: 'shared/error_message', collection: @prototype.errors.full_messages, as: :error_messages

    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :name, placeholder: 'Name'

      .row
        .col-md-12
          .cover-image-upload#main-prototype-image
            = f.fields_for :prototype_images, @prototype.prototype_images.main.first do |main_image|
              = image_tag @prototype.prototype_images.main.first.content, class: 'main-prototype-image'
              = main_image.file_field :content
              = main_image.hidden_field :status, value: :main

        -# .col-md-12
        -#   %ul.proto-sub-list.list-group
        -#     - @prototype.prototype_images.sub.each do |sub_image|
        -#       %li.list-group-item.col-md-4
        -#         .image-upload{ id: "sub-prototype-image#{i+1}", data: { sub_image_id: "#{i+1}" } }
        -#           = f.fields_for :prototype_images, sub_image do |sub_image|
        -#             = image_tag sub_image, class: 'sub-prototype-image'
        -#             = sub_image.file_field :content
        -#             = sub_image.hidden_field :status, value: :sub

            %li.list-group-item.col-md-4
              .image-upload-plus
                %span +

      .row.proto-description
        .col-md-12
          = f.text_field :catchcopy, placeholder: "Catch Copy" 
        .col-md-12
          = f.text_area :concept, placeholder: "Concept", cols: 30, rows: 4 
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{type: "text", placeholder: "Web Design"}/
            .col-md-3
              %input{type: "text", placeholder: "UI"}/
            .col-md-3
              %input{type: "text", placeholder: "Application"}/

    .row.text-center.proto-btn
      = f.submit 'Update', class: 'btn btn-lg btn-primary btn-block'
