.container.user-page
  %header.user-nav
    .media
      .media-left
        %a{href: "#"}
          %img.media-object{alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", src: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==", style: "width: 64px; height: 64px;"}/
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @num_of_current_user_prototypes
            %i Projects
        .proto-user
          %span.degree 
            = current_user.position
        .row
          .col-md-6
            %h4 Profile
            %p 
              = current_user.profile
          .col-md-6
            %h4 Works
            %p 
              = current_user.occupation

.container.proto-list
  .row
    - if @current_user_prototypes.present?
      - @current_user_prototypes.each do |prototype|
        .col-sm-4.col-md-3.proto-content
          .thumbnail
            %a{href: ""}
              = image_tag("sample.png")
              .caption
                %h3 
                  = prototype.catchcopy
                .proto-meta
                  .proto-date
                    = prototype.posted_time

                %ul.proto-tag-list.list-inline
                  %li
                    %a{href: "#", class: "btn btn-default"} iPad
                  %li
                    %a{href: "#", class: "btn btn-default"} wireframe
                    
.text-center
  = will_paginate @current_user_prototypes
